body {
    background-color: rgb(249, 251, 255);
}
.d1 {
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
}
.d1 button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    border-radius: 7px;
    background-color: rgb(255, 0, 0);
    color: rgb(249, 251, 255);
    border: 3px solid rgb(249, 251, 255);
}
.d1 button:hover {
    cursor: pointer;
    border-radius: 7px;
    background-color: rgb(249, 251, 255);
    color: rgb(255, 0, 0);
    border: 3px solid rgb(255, 0, 0);
}